.special {
    color: cornflowerblue;
  }
  
  .class1 {
    color: brown;
  }
  
  .class2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .class3 {
    font-size: medium;
  }
  